@page "/todaysjournal"
@using MyJournal.Components.Models
@using MyJournal.Services

@inject IJSRuntime JS;


<div class="journal-editor-container">

    <div class="paper-sheet">
        <div class="sheet-header">
            <input type="text"
                   @bind="CurrentEntry.Title"
                   class="title-input"
                   placeholder="Title..." />

            <div class="date-display">
                @CurrentEntry.EntryDate.ToString("MMMM dd, yyyy")
            </div>
        </div>

        @*   <textarea @bind="CurrentEntry.Content" 
                  class="content-area" 
                  placeholder="Write your thoughts here...">
        </textarea> *@

        @if (!isLoaded)

        {
            <div class="loading-spinner">Loading your Journal ... </div>
        }
        else
        {
            <div id="editor-container"></div>

        }
    </div>



    <div class="metadata-panel">

        <div class="meta-card">
            <h4>1. How was your day?</h4>
            <div class="category-selector">
                <button class="cat-btn positive @(selectedCategory == "Positive" ? "active" : "")"
                        @onclick='() => SelectCategory("Positive")'>
                    Positive
                </button>
                <button class="cat-btn neutral @(selectedCategory == "Neutral" ? "active" : "")"
                        @onclick='() => SelectCategory("Neutral")'>
                    Neutral
                </button>
                <button class="cat-btn negative @(selectedCategory == "Negative" ? "active" : "")"
                        @onclick='() => SelectCategory("Negative")'>
                    Negative
                </button>
            </div>

            <h4 style="margin-top:15px">2. Specifically...</h4>
            <div class="mood-selector">
                @foreach (var mood in MoodHelperService.AllMoods.Where(m => m.Category == selectedCategory))
                {
                    <button class="mood-btn @(CurrentEntry.PrimaryMood == mood.Name ? "selected-primary" : "")"
                            @onclick="() => SetPrimaryMood(mood)">
                        @mood.Emoji @mood.Name
                    </button>
                }
            </div>
        </div>

        <div class="meta-card">
            <h4>Tags</h4>
            <div class="tags-cloud">
                @foreach (var tag in MoodHelperService.PredefinedTags)
                {
                    <span class="tag-chip @(selectedTags.Contains(tag) ? "selected" : "")"
                          @onclick="() => ToggleTag(tag)">
                        @tag
                    </span>
                }
            </div>
        </div>

        <div class="action-area">
            <button class="btn-primary full-width" @onclick="SaveEntry">Save Entry</button>
            <button class="btn-secondary full-width" @onclick="Cancel">Cancel</button>
        </div>
    </div>
</div>